.flash-box
.wrapper
  .chat-side
    .side-header
      .user-name 
        = current_user.name
      .user-menu
        %li.user-menu__edit-user
          = link_to new_group_path do
            %i.fa.fa-edit
            / ボタンここ groups_new_path(group)！！！！
        %li.user-menu__new-group
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
            / ボタンここ "/users/490/edit"！！！！
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              = group.show_last_message

  .chat-main
    .main-header
      .current-group
        %h2.current-group__name 
          = @group.name
        %ul.member-list
          Member：
          %li.member-list__member
            - @group.users.each do |user|
              = user.name

      .main-header__edit-btn
        = link_to 'Edit', edit_group_path(params[:group_id]), method: :get, style: "color: #38aef0;"

    .messages
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            %i.fa.fa-image
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
   


        -# %form#new_message.new-message{"accept-charset": "UTF-8", action: "/groups/969/messages", enctype: "multipart/form-data", method: "post"}
        -#   %input{name: "authenticity_token", type: "hidden", value: "YEoJAS77mlLidMxFX7zI+Kti1oAJgPjNKscLBFzW0V82bGkCwW0+sS+LVi+LSlsX7UoGgGkpPrgLk83ljmIYEA=="}/
        -#   .input-box
        -#     / テキスト入力
        -#     %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
        -#     / 画像選択
        -#     %label.image-label{for: "message_image"}
        -#       / 画像選択ボタン
        -#       %i.fa.fa-image
        -#       / 『ファイルを選択』ボタン
        -#       %input#message_image.image-label__input{name: "message[image]", type: "file"}/
        -#   / Sendボタン
        -#   %input.new-message__submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/